@font-face {
    font-family: '.SF Symbols Fallback';
    src: url('SFSymbolsFallback-Regular.eot');
    src: url('SFSymbolsFallback-Regular.eot?#iefix') format('embedded-opentype'),
        url('SFSymbolsFallback-Regular.woff2') format('woff2'),
        url('SFSymbolsFallback-Regular.woff') format('woff'),
        url('SFSymbolsFallback-Regular.ttf') format('truetype'),
        url('SFSymbolsFallback-Regular.svg#.SFSymbolsFallback-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

